html, body {
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    font-family: Roboto, sans-serif;
}
a, .btn-link {
    color: #90caf9;
}

.content {
    background-color: #121212;
}

.card, .mud-card {
    background-color: #1e1e1e;
    color: #ffffff;
}
